#up-header{
    min-height: 40px;
    background-color: #000000;
}

/* TO DO RIMUOVERE */
/* .col-12{
    min-height: 200px;
} */


.w-70{
    width: 70%;
}


#jumbotron{
background-image: url(../img/jumbo-bg.png);
min-height: 600px;
background-position: 50% 0%;
}

#it-takes-two{
background-image: url(../img/jumbo-bg.png);
min-height: 600px;
background-position: 50% 0%;
}


footer{
    background-color: blue;
}

.ps-footer-up{
    width: 100px;
}

.ps-footer-down{
    width: 150px;
}

.globe{
    width: 20px;
}